.ui-tabs {
  .ui-tabs__tab {

  }

  .ui-tabs__wrapper {
    position: relative;

    &.ui-tabs__wrapper_height-transition {
      transition: height .3s ease;
    }
  }

  .ui-tabs__tabpanel {
    transition: opacity .3s ease;
    &:not(.ui-tabs__tabpanel_active) {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
    }

    &.ui-tabs__tabpanel_active {
      position: relative;
      z-index: 10;
      opacity: 1;
      pointer-events: visible;
    }
  }
}